// тк мы к ним обращаемся везде ниже
@import "utils/vars";
@import "utils/reset";

html {
	line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
	height: 100%;
	@media screen and (max-width: $desktopWidth) {
		font-size: 16px;
	}
	@media screen and (max-width: $tableWidth) {
		font-size: 15px;
	}
	@media screen and (max-width: $phoneWidth) {
		font-size: 14px;
	}
}

body {
	font-family: $mainFont;
	font-size: $mainFontSize;
	font-weight: $mainFontWeight;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
	background-color: #f7f7f7;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

input,
textarea,
select,
button {
	border: 1px solid $border-base;
}

a {
	text-decoration: none;
}

ul,
li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

section,
.section {
	position: relative;
	padding: 40px 0;
	@media screen and (max-width: $desktopWidth) {
		padding: 36px 0;
	}
	@media screen and (max-width: $desktopWidth) {
		padding: 28px 0;
	}
	@media screen and (max-width: $desktopWidth) {
		padding: 20px 0;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0 auto;
}

.wrapper-content {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	&.wrapper-content--fixed {
		margin-top: 80px;
	}
}

.container {
	width: 100%;
	flex: 0 0 auto;
	position: relative;
	max-width: $desktopWidth;
	margin: 0 auto;
	@media screen and (max-width: $smDesktopWidth) {
		max-width: $tableWidth;
	}
	@media screen and (max-width: $tableWidth) {
		max-width: $phoneWidth;
	}
	@media screen and (max-width: $phoneWidth) {
		max-width: $smPhoneWidth;
	}
}

.wrapper {
	min-height: auto;
}
.wrapper-content {
	min-height: auto;
}

.link {
	cursor: pointer;
	border-bottom: 1px solid #9aa4d6;
	color: #4343aa;
	&.linkWhite {
		border-bottom: 1px solid #ffffff;
		color: #ffffff;
	}
	&.linkFalse {
		border-bottom: 1px solid #b53f3f;
		color: #b53f3f;
	}
	&.linkTrue {
		border-bottom: 1px solid #7bd782;
		color: #7bd782;
	}
}

label {
	display: block;
	font-size: 16px;
	margin-bottom: 10px;
	text-align: center;
}
input {
	padding: 16px 26px;
	margin-bottom: 30px;
	border-radius: 20px;
}
textarea {
	padding: 30px 27px;
	border-radius: 14px;
}
input,
textarea {
	width: 100%;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	padding: 20px 0;
	background-color: #ffffff;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
	&.logo {
		font-size: 24px;
	}
}

.navbar-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar-list {
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar-item {
	margin-right: 30px;
	cursor: pointer;
	&:last-child {
		margin-right: 0;
	}
}

.navbar-link {
	display: block;
	color: #aaaad5;
	// active link
	&.active {
		color: #4343aa;
	}
}

.status {
	margin-right: 10px;
	&:before {
		display: inline-block;
		content: "\A";
		width: 10px;
		height: 10px;
		border-radius: 50%;
	}
	&.false {
		color: #ff5722;
		&:before {
			background: #ff5722;
		}
	}
	&.true {
		color: #8bc34a;
		&:before {
			background: #8bc34a;
		}
	}
}

.title {
	margin-bottom: 20px;
	color: #333333;
	font-size: 30px;
	font-weight: 700;
}

.btn {
	display: inline-block;
	padding: 0.8em 2em;
	line-height: 1;
	text-transform: uppercase;
	cursor: pointer;
	border-radius: 30px;

	// default btn
	&.btnDefaul {
		color: #ffffff;
		border: 1px solid #333333;
		background-color: #333333;
	}

	// primiry btn
	&.btnPrimary {
		color: #ffffff;
		border: 1px solid #494ce8;
		background-color: #494ce8;
	}

	// danger btn
	&.btnDanger {
		color: #ffffff;
		border: 1px solid hsl(0, 48%, 48%);
		background-color: #b53f3f;
	}

	&.btnWhite {
		color: #333333;
		border: 1px solid #ffffff;
		background-color: #ffffff;
	}
}

// Default table
table {
	width: 100%;
	line-height: 1.5em;
	border-collapse: separate;
	border-spacing: 0 34px;
	thead th {
		padding: 20px 22px;
		white-space: nowrap;
		font-size: 22px;
		cursor: pointer;
	}
	td {
		padding: 20px;
	}
	tbody tr {
		background-color: #ffffff;
		font-weight: 600;
		transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
		box-shadow: 0 30px 30px rgba(0, 0, 0, 0.02);
		&:hover {
			box-shadow: 0 30px 30px rgba(0, 0, 0, 0.04);
			transform: translate(0, -6px);
			transition-delay: 0s !important;
		}
	}
}
